<h1>
  Portal
</h1>

<div class="ph-item">
  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Score</th>
        <th>Credits</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let result of results | async">
        <td>
          <app-loading [input]="result?.subject"></app-loading>
        </td>
        <td>
          <app-loading [input]="result?.score"></app-loading>
        </td>
        <td>
          <app-loading [input]="result?.credits?.toString()"></app-loading>
        </td>
        <td>
          <app-loading [input]="result?.remarks"></app-loading>
        </td>

      </tr>
    </tbody>
  </table>
</div>